
body {
  background-color: white;
  text-align: left;
}

h1 {
  font-family: "Courier New";
  color: black;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#doge-image img {
  height: 140px;
  margin-top: 20px;
}
body {
  padding-top: 70px;
}

h1 {
  font-family: 'Courier New';
  font-size: 50px;
  
}

h4 {
  color: #b5b5b5;
}

.page-header {
  text-align: left;
}

.tina-gif {
  text-align: center;
  margin: 50px 0;
}

.headshot-of-computers {
  max-width: 350px;
  margin: 50px auto;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-top: 100px;
}
.images {
  max-width: 500px;
  margin-left: 27%;
}
.imagedb {
  max-width: 500px;
  margin-left: 40%;
  max-height: 250px;
}

.content {
  margin-bottom: 50px;
}
.about-content {
  margin-bottom: 50px;
  display: inline-block;
  width: 750px;
  float: left;
}

.code-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.code-container img{
  padding: 20px;
  max-width: 300px;
  max-height: 200px;
}

.contact-container {
  text-align: center;
}

.contact-container .content {
  margin-top: 50px
}

.contact-icon {
  font-size: 45px;
  margin: 0 5px;
  margin-top: 15px;
}

.contact-icon-link:hover {
  text-decoration: none
}

.contact-icon.fa-linkedin-square {
  color: #007bb6;
}

.contact-icon.fa-github-square {
  color: #353535;
}

.contact-icon.fa-facebook-square {
  color: #3b5998;
}
.resume {
  max-width: 800px;
  margin-top: -20px;
}

#container1 {
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  display: inline-block;
  z-index: 1;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  
}

.navbar li { color: #000 } 
.navbar ul { margin-right: 3%; color: black;}


.container123 {
  padding-top: 0;
  overflow: hidden;
  background-image:url('../images/newheadshot3.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  
}

