<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1></h1>
      <h4 class="subheader">Don't talk to me, I'm busy writing my code.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/HeadShot123" />
      <p>My name is Richard Yoon.</p>
    </div>
  </main>
</body>
</html>