<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1></h1>
      <h4 class="subheader">Plz give me a job. </h4>
    </div>
    <div class="content">
      <img class="headshot-of-computers" src="images/headshot1.jpg" />
      <p>My name is Richard Yoon.</p>
    </div>
  </main>
</body>
</html>