<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>About Me</h1>
      
    </div>
    <div class="about-content">
      <p>Hello!</p><br><br>
      <p>My name is Jaemok Yoon and I am a Sophomore studying Computer Science with a minor in 
        Dyson Business Minor for Engineers at Cornell University College of Engineering.</p>
      <p>I am passionate about software development and machine learning. I have worked at 
        Maxonsoft. Currently, I am taking the introductory classes to iOS App development and backend developement.
        I am also enrolled in Introduction to Machine Learning for Python course.</p>
      </div>
      <div class="content">
        <img class="headshot-of-computers" src="images/headshot11.jpg">
      </div>
      
      
  </main>
</body>
</html>