<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
        <% include ../helpers/navbar %>
  </header>

  <main class="contact-container">
    <div class="page-header">
      <h1>My contacts</h1>
    </div>
    <div class="content">
      <a class="contact-icon-link" href="https://www.linkedin.com/in/jaemok-yoon/" target="_blank">
         <i class="contact-icon fa fa-linkedin-square"></i>
      </a>
      <a class="contact-icon-link" href="https://github.com/yds05238" target="_blank">
        <i class="contact-icon fa fa-github-square"></i>
      </a>
      <a class="contact-icon-link" href="https://www.facebook.com/richard.yoon.376" target="_blank">
        <i class="contact-icon fa fa-facebook-square"></i>
      </a>
    </div>
  </main>
</body>
</html>