<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Jaemok Yoon</h1>
      <p>Welcome to my personal website, please send all donations in units of $100 to my Venmo - @Richard-Yoon-5</p>
      <p><a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1cT4cjM004SmaTEGqpEnbw4RRyW8eDjHM/view?usp=sharing" target="_blank" role="button">My Resume</a></p>
    </div>
    
  </main>

</body>
</html>