<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Project Portfolio</h1>
      <h4 class="subheader">I didn't do shit.</h4>
    </div>
    <div class="container">
      <div class="code-container">
        <!-- <img src=""/> -->
        <div>
          <h3>Personal Website</h3>
          <p>This website you are on currently...</p>
      </div>
    </div>
  </main>
</body>
</html>