<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Project Portfolio</h1>
    </div>
    <div class="container">
      <div class="code-container; text-align: left;">
        <img class="images" src="images/maxonsoftwebpage.jpg">
        <div>
          <h3>Maxonsoft Company Webpage</h3>
          <p>During my internship at Maxonsoft, I worked on updating the company's webpage.</p>
        </div>
        <img class="images" src="images/hubspotworkshop.jpg">
        <div>
          <h3>Personal Webpage</h3>
          <p>I participated in Hubspot Web Application Workshop and coded personal webpage.</p>
      </div>
    </div>
  </main>


  



</body>
</html>